{% extends "app/base.html" %}
{% load static %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body">
          <h3 class="mb-4 text-center">Forgot password?</h3>
          <p class="mb-4 text-center">Enter your email address to receive a password reset link.</p>
          <form method="POST">
            {% if form.non_field_errors %}
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              {{ form.non_field_errors }}
            </div>
          {% endif %}
            {% csrf_token %}
            {% comment %} {{ form.email.label_tag }}
            {{ form.email }}
            {% if form.email.errors %}
              <div class="text-danger small">{{ form.email.errors }}</div>
            {% endif %} {% endcomment %}
            {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="text-danger small">
                        {{ field.errors|striptags }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-primary">Send password reset link</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}