{% extends "app/base.html" %}
{% load static %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body">
          {% if validlink %}
            <h3 class="mb-4 text-center">Reset new password</h3>
            <form method="POST">
              {% csrf_token %}
              {{ form.new_password1.label_tag }}
              {{ form.new_password1 }}
              {% if form.new_password1.errors %}
                <div class="text-danger small">{{ form.new_password1.errors }}</div>
              {% endif %}
              <br>
              {{ form.new_password2.label_tag }}
              {{ form.new_password2 }}
              {% if form.new_password2.errors %}
                <div class="text-danger small">{{ form.new_password2.errors }}</div>
              {% endif %}
              <div class="d-grid mt-4">
                <button type="submit" class="btn btn-primary">Reset password</button>
              </div>
            </form>
          {% else %}
            <h3 class="mb-4 text-center text-danger">Invalid link</h3>
            <p class="text-center">This password reset link has expired or is invalid.<br>Please try the password reset process again.</p>
            <div class="text-center">
              <a href="{% url 'password_reset' %}" class="btn btn-secondary mt-3">Retry</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}