{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
  {% if messages %}
  {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
  <div class="row">
    <div class="col-md-6">
      <img src="{{ product.image.url }}" class="img-fluid rounded" alt="{{ product.name }}">
    </div>
    <div class="col-md-6">
      <h2 class="mb-3">{{ product.name }}</h2>
      <h4 class="text-success mb-3">${{ product.price|floatformat:0 }}</h4>
      <p class="mb-4">{{ product.description }}</p>
      <form method="get" action="{% url 'add_to_cart' %}">
        {% csrf_token %}
        <div class="mb-3">
          <label for="quantity" class="form-label">Quantity</label>
          <input type="number" name="quantity" id="quantity" value="1" min="1" class="form-control" style="width: 100px;">
        </div>
        
          <input type="hidden" name="prod_id" value={{product.id}} />
          <button type="submit" class="btn btn-primary">
            <i class="bi bi-cart-plus"></i> Add to cart
          </button>
       
       
      </form>
      <hr>
      <p><strong>Category:</strong> {{ product.category }}</p>
    </div>
  </div>
</div>
{% endblock %}